    /* h3 {
    color: rgb(22, 210, 235);
} */


/* h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(57, 206, 41);
} */

p {
    color: blue;
}

body {
    background-color: black;
}

banana {
    color: aliceblue;
}

.header {
    color: rgb(57, 206, 41);
}

#firstinclude {
    color: rgb(229, 73, 6);